<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Welcome to Local RAG</h1>

    <br>
    <br>


        <h3>Main Tools :</h3>    

    <ul>

        <li>
                    <a href="/semantic">Local RAG</a>

        </li>
        
        <br>

        <li>
             <a href="documents_list">Documents manager</a>

        </li>

    </ul>

        <br>
        <br>

    <h3>Dev Tools ( isolated features ) :</h3>    

    <ul>

        <li>
            <a href="/chat">Dry model prompt ( No context )</a>

        </li>
        
        <br>

        <li>
            <a href="/embed"> Text Embedding Encoder</a>

        </li>

    </ul>

        <br>
        <br>
</body>
</html>