<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Welcome to Local RAG</h1>

        <a href="/semantic">Local RAG</a>

        <br>
        <br>


    <a href="documents_list">Documents manager</a>


        <br>
        <br>

    <a href="/chat">Dry model prompt ( No context )</a>

        <br>
        <br>

    <a href="/embed"> Text Embedding Encoder</a>

        <br>
        <br>
</body>
</html>